.landing-wave {
     position: absolute;
     top: 20vh;
     right: 0;
     height: 80vh;
     width: 75vw;
}


.dev-banner {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     background-image: url("../assets/img/web-code.jpg");
     background-attachment: fixed;
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     color: $white;
     text-align: center;
     padding: 6vh 0;

     h2 {
          width: 700px;
          font-weight: 800;
          font-size: 36px;
          margin: 0 0 2vh;
     }
     h3 {
          font-weight: 700;
          font-size: 24px;
     }
}

.accueil-infos {
     margin-bottom: -200px;
     background-color: #fff;
}
.text-infos {
     padding: 10vh 0;
     img {
          width: 100%;
          height: auto;
     }
     .text-infos-container {
          display: flex;
          flex-direction: row;
          width: 80%;
          margin: 6vh auto 4vh;
          justify-content: space-between;

          .text-content {
               width: 30%;
               display: flex;
               flex-direction: column;

               h4 {
                    font-weight: 800;
                    font-size: 26px;
                    margin-bottom: 3vh;
                    letter-spacing: .5px;
               }
               span {
                    letter-spacing: .2px;
                    font-weight: 400;
               }
          }
     }
}


@media screen and (max-width: 1200px) {
     .text-infos {
          img {
               display: none;
          }
          .text-infos-container {
               width: 90%;
               flex-wrap: wrap;
               justify-content: center;
               margin: 3vh auto 0;
               .text-content {
                    margin: 0 15px 3vh;
                    width: 270px;
               }
          }
     }
}
@media screen and (max-width: 500px) {
     .text-infos .text-infos-container .text-content {
          margin: 0 0 5vh;
     }
}
@media screen and (max-width: 750px) {
     .dev-banner {
          h2 {
               font-size: 24px;
               width: 100%;
          }
          h3 {
               font-size: 16px;
               width: 100%;
          }
     }
}
@media screen and (max-width: 420px) {
     .dev-banner {
          h2 {
               font-size: 20px;
          }
          h3 {
               font-size: 15px;
          }
     }
}