
//NAVBAR
.scroll-navbar {
     box-shadow: 1px 0 5px rgb(75, 75, 75);
     transition: .2s;
}

nav {
     z-index: 1;
     position: sticky;
     top: 0;
     background-color: $white;
     width: 100%;
     padding: 0 10vw;
     height: 10vh;
     margin: 0 auto;
     display: flex;
     justify-content: space-between;
     flex-direction: row;
     align-items: center;

     .logo {
          img {
               width: 200px;
          }
     }

     .checkbtn {
          font-size: 30px;
          color: black;
          cursor: pointer;
          display: none;
     }
     #check {
          display: none;
     }

     ul {
          width: fit-content;
          display: flex;
          align-items: center;
          flex-direction: row;

          li {
               width: fit-content;
               display: flex;
               flex-direction: column;
               margin: 0 1.7vw;
               padding: 1vh;

               a {
                    font-weight: 700;
                    letter-spacing: .6px;
               }
               &:hover {
                    cursor: pointer;
                    a {
                          color: $sec;
                         transition: .2s;
                    }
               }
               div {
                    width: 100%;
                    height: 2px;
                    background-color: transparent;
               }
               .active {
                    background-color: $sec;
               }
          }
          .contact {
               padding: 10px 20px;
               border: 2px solid $sec;
               border-radius: 8px;
               &:hover {
                    a {
                         color: $sec;
                         transition: .2s;
                    }
               }
          }
          .contact-active {
               background-color: $sec;
               border: none;

               a { 
                    color: $white;
               }
               &:hover {
                    border: 2px solid $sec;
                    background-color: $white;
                    transition: .2s;

                    a {
                         color: $black;
                    }
               }
          }
     }
}



//FOOTER
footer {
     width: 100%;
     justify-content: center;

     .footer-pre-banner {
          width: 100%;
          margin: 0 auto;
          padding: 0 15vw;
          height: 500px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          background-image: url("../assets/img/web-wallpaper.jpg");
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;

          .footer-infos-container {
               width: 500px;
               height: 500px;
               display: flex;
               margin-bottom: 5vh;
               flex-direction: column;
               justify-content: space-evenly;
               align-items: center;
               background: linear-gradient(to bottom right, #0C7DBB, #43BCFF);

               .infos-wrapper {
                    display: flex;
                    flex-direction: row;
                    color: $white;
                    height: 40%;

                    .icons {
                         display: flex;
                         flex-direction: column;
                         justify-content: space-between;
                         margin-right: 15px;

                         img {
                              height: 30px;
                              width: auto;
                         }
                    }
                    .texts {
                         display: flex;
                         flex-direction: column;
                         justify-content: space-between;
                         align-items: flex-start;


                         span, a {
                              color: $white;
                              font-size: 18px;
                              line-height: 30px;
                              font-weight: 600;
                         }
                    }
               }
               
               .footer-btn {
                    width: 65%;
                    background-color: $white;
                    color: $black;
                    &:hover {
                         background-color: $black;
                         color: $white;
                         transition: .2s;
                    }
               }
          }
          .portrait {
               width: 500px;
               height: 500px;
               object-fit: cover;
          }
     }
     
     .footer-links {
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          padding: 6vh 15vw;
          align-items: center;

          .presentation {
               width: fit-content;
               display: flex;
               flex-direction: column;

               img {
                    width: 250px;
                    height: auto;
                    margin-bottom: 6vh;
               }
               span {
                    cursor: text;
                    width: 600px;
                    font-size: 14px;
                    font-weight: 300;
               }

          }
          .other-pages, .contact-infos {
               display: flex;
               flex-direction: column;
               height: 100%;

               h5 {
                    font-weight: 600;
                    font-size: 22px;
                    color: #555555;
                    margin-bottom: 2vh;
               }
               ul {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    height: 100%;
                    color: #525252;
                    
                    li {
                         margin-bottom: 5px;

                         a {
                              font-weight: 400;
                              font-size: 14px;
                              color: #525252;
                              &:hover {
                                   text-decoration: underline;
                              }
                         }
                    }
               }
          }
     }

     hr {
          width: 70vw;
          background-color: $sec;
          height: 2px;
          border: 0;
     }

     .credits {
          width: 100%;
          padding: 0 15vw;
          font-weight: 400;
          font-size: 13px;
          margin: 5px 0;

          a:hover {
               text-decoration: underline;
          }
     }
}


//navbar responsive
@media (max-width: 950px){
     nav {
          .checkbtn{
               display: block;
          }
          ul{
               justify-content: center;
               flex-direction: column;
               position: fixed;
               width: 100%;
               height: 100vh;
               background: $third;
               top: 10vh;
               left: -100%;
               text-align: center;
               transition: all .5s;

               li{
                    transform: translateY(-5vh);
                    display: block;
                    margin: 5vh auto;
                    line-height: 30px;

                    a{
                         font-size: 20px;
                    }
               }
          }
          a:hover {
               background: none;
               color: $sec;
          }
          #check:checked ~ ul{
               left: 0;
          }
     }
     
}