
//NAVBAR
.scroll-navbar {
     box-shadow: 1px 0 5px rgb(75, 75, 75);
     transition: .2s;
     background-color: $white !important;
}

nav {
     z-index: 1;
     position: sticky;
     top: 0;
     background-color: transparent;
     width: 100%;
     padding: 0 10vw;
     height: 10vh;
     margin: 0 auto;
     display: flex;
     justify-content: space-between;
     flex-direction: row;
     align-items: center;

     .logo {
          height: 65%;

          a {
               height: 100%;

               img {
                    height: 100%;
               }
          }
     }

     .checkbtn {
          font-size: 30px;
          color: black;
          cursor: pointer;
          display: none;
     }
     #check {
          display: none;
     }

     ul {
          width: fit-content;
          display: flex;
          align-items: center;
          flex-direction: row;

          li {
               width: fit-content;
               display: flex;
               flex-direction: column;
               margin: 0 1.7vw;
               padding: 1vh;

               a {
                    font-weight: 700;
                    letter-spacing: .6px;
               }
               &:hover {
                    cursor: pointer;
                    a {
                          color: $sec;
                         transition: .2s;
                    }
               }
               div {
                    width: 100%;
                    height: 2px;
                    background-color: transparent;
               }
               .active {
                    background-color: $sec;
               }
          }
          .contact {
               padding: 10px 20px;
               border: 2px solid $sec;
               border-radius: 8px;
               &:hover {
                    a {
                         color: $sec;
                         transition: .2s;
                    }
               }
          }
          .contact-active {
               background-color: $sec;
               border: none;

               a { 
                    color: $white;
               }
               &:hover {
                    border: 2px solid $sec;
                    background-color: $white;
                    transition: .2s;

                    a {
                         color: $black;
                    }
               }
          }
     }
}



//FOOTER
.footer-pre-banner {
     width: 100%;
     margin: 0 auto;
     height: fit-content;
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
     background-image: url("../assets/img/web-wallpaper.jpg");
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;

     .contact-coo {
          background: linear-gradient(to bottom right, #0C7DBB, #43BCFF);
     }
     .devis-container {
          background-color: $third;
          padding: 2vw 0;

          img {
               height: 70px;
               width: auto;
          }
          h3 {
               font-weight: 700;
               font-size: 1.7em;
               color: $black;
          }
          .cc-container {
               width: 100%;
               padding: 0 4vw;
               display: flex;
               flex-direction: column;
               justify-content: space-evenly;
               align-items: flex-start;
               height: 45%;

               div {
                    display: flex;
                    flex-direction: row;

                    img {
                         height: 30px;
                         width: auto;
                         margin-right: 1vw;
                    }
                    span {
                         color: #505153;
                    }
               }
          }
     }

     .footer-infos-container {
          width: 500px;
          height: 500px;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          align-items: center;

          span, a {
               font-size: 18px;
               line-height: 30px;
               font-weight: 600;
          }

          .infos-wrapper {
               display: flex;
               flex-direction: row;
               color: $white;
               height: 40%;

               .icons {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    margin-right: 15px;
                    img {
                         height: 30px;
                         width: auto;
                    }
               }

               .texts {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: flex-start;


                    span, a {
                         color: $white;
                    }
               }
          }
          
          .footer-btn {
               width: fit-content;
               background-color: $white;
               padding: 2vh 3vw;
               color: $black;
               &:hover {
                    background-color: $black;
                    color: $white;
                    transition: .2s;
               }
          }
     }
     
}
footer {
     width: 100%;
     justify-content: center; 
     padding: 6vh 15vw 0;

     .footer-links {
          width: 100%;
          margin-bottom: 6vh;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;

          .presentation {
               width: fit-content;
               display: flex;
               flex-direction: column;

               img {
                    width: 250px;
                    margin-bottom: 3vh;
               }
               span {
                    cursor: text;
                    width: 600px;
                    font-size: 14px;
                    font-weight: 300;
               }

          }
          .infos-pages-container {
               display: flex;
               flex-direction: row;

               .other-pages {
                    margin-right: 6vw;
               }
               .other-pages, .contact-infos {
                    display: flex;
                    flex-direction: column;
                    height: 100%;
     
                    h5 {
                         font-weight: 600;
                         font-size: 22px;
                         color: #555555;
                         margin-bottom: 2vh;
                    }
                    ul {
                         display: flex;
                         flex-direction: column;
                         justify-content: space-between;
                         height: 100%;
                         color: #525252;
                         
                         li {
                              margin-bottom: 5px;
     
                              a {
                                   font-weight: 400;
                                   font-size: 14px;
                                   color: #525252;
                                   &:hover {
                                        text-decoration: underline;
                                   }
                              }
                         }
                    }
               }
          }
     }

     hr {
          width: 100%;
          background-color: $sec;
          height: 2px;
          border: 0;
          margin: 0;
     }

     .credits {
          width: 100%;
          font-weight: 400;
          font-size: 13px;
          margin: 8px 0;

          a:hover {
               text-decoration: underline;
          }
     }
}


//navbar responsive
@media (max-width: 1050px) {
     nav {
          padding: 0 6vw;
     }
}
@media (max-width: 950px){
     nav {
          .checkbtn{
               display: block;
          }
          ul{
               justify-content: center;
               flex-direction: column;
               position: fixed;
               width: 100%;
               height: 100vh;
               background: $third;
               top: 10vh;
               left: -100%;
               text-align: center;
               transition: all .5s;

               li{
                    transform: translateY(-5vh);
                    display: block;
                    margin: 5vh auto;
                    line-height: 30px;

                    a{
                         font-size: 20px;
                    }
               }
          }
          a:hover {
               background: none;
               color: $sec;
          }
          #check:checked ~ ul{
               left: 0;
               & ~ .fa-bars:before {
                    content: "\f00d";
               }
          }
          #check:checked ~ .checkbtn .fa-bars:before{
               content: "\f00d";
          }
     }
     
}

//footer pre-banner
@media (max-width: 1000px) {
     .footer-pre-banner {
          flex-direction: column-reverse;
          background-image: none;

          .footer-infos-container {
               width: 100%;
               padding: 0 20px;

               .footer-btn {
                    padding: 2vh 8vw;
               }
          }
          
     }
}
@media (max-width: 600px) {
     .footer-pre-banner .footer-infos-container {
          height: 400px;
          .infos-wrapper {
               height: 45%;
          }
     }
}
@media (max-width: 360px) {
     .footer-pre-banner .footer-infos-container {
          .infos-wrapper {
               .icons img {
                    height: 25px;
               }
               .texts {
                    span, a {
                         font-size: 16px;
                    }
               }
          }
          .footer-btn {
               font-size: 16px;
          }
     }
}

//footer responsive
@media (max-width: 1500px){
     footer {
          padding: 6vh 7vw 0;
          .footer-links {
               flex-direction: column;

               .presentation {
                    margin-bottom: 4vh;

                    img {
                         margin-bottom: 2vh;
                    }
                    span {
                         width: 100%;
                         max-width: 700px;
                    }
               }
               .infos-pages-container {
                    .other-pages h5,
                    .contact-infos h5 {
                         margin-bottom: 1vh;
                    }
               }
          }
     }
}
@media (max-width: 450px) {
     footer .footer-links {
          margin-bottom: 4vh;

          .presentation img {
               width: 90%;
               max-width: 250px;
           }
          .infos-pages-container {
               flex-direction: column;

               .other-pages {
                    margin: 0 0 2vh;
               }
          }
     }
}