
//NAVBAR
.scroll-navbar {
     box-shadow: 1px 0 5px rgb(75, 75, 75);
     transition: .2s;
}

nav {
     z-index: 1;
     position: sticky;
     top: 0;
     background-color: $white;
     width: 100%;
     padding: 0 10vw;
     height: 10vh;
     margin: 0 auto;
     display: flex;
     justify-content: space-between;
     flex-direction: row;
     align-items: center;

     .logo {
          img {
               width: 200px;
          }
     }

     .checkbtn {
          font-size: 30px;
          color: black;
          cursor: pointer;
          display: none;
     }
     #check {
          display: none;
     }

     ul {
          width: fit-content;
          display: flex;
          align-items: center;
          flex-direction: row;

          li {
               width: fit-content;
               display: flex;
               flex-direction: column;
               margin: 0 2vw;

               a {
                    font-weight: 700;
                    letter-spacing: .2px;
                    &:hover {
                         color: $sec;
                         transition: .2s;
                    }
               }
               div {
                    width: 100%;
                    height: 2px;
                    background-color: transparent;
               }
               .active {
                    background-color: $sec;
               }
          }
          .contact {
               padding: 10px 20px;
               border: 2px solid $sec;
               border-radius: 8px;
          }
          .contact-active {
               background-color: $sec;
               border: none;
               color: $white;
          }
     }
}



//FOOTER
footer {
     position: relative;
     width: 100%;
     height: 500px;

     iframe {
          width: 100%;
          height: 100%;
          &:focus {
               outline: none;
          }
     }
     .footer-infos-container {
          position: absolute;
          top: 0;
          left: 20%;
          width: 25%;
          height: 500px;
          background: linear-gradient(to bottom right, #0C7DBB, #43BCFF);
     }
}


//navbar responsive
@media (max-width: 770px){
     nav {
          .checkbtn{
               display: block;
          }
          ul{
               justify-content: center;
               flex-direction: column;
               position: fixed;
               width: 100%;
               height: 100vh;
               background: $third;
               top: 10vh;
               left: -100%;
               text-align: center;
               transition: all .5s;

               li{
                    transform: translateY(-5vh);
                    display: block;
                    margin: 5vh auto;
                    line-height: 30px;

                    a{
                         font-size: 20px;
                    }
               }
          }
          a:hover {
               background: none;
               color: $sec;
          }
          #check:checked ~ ul{
               left: 0;
          }
     }
     
}