#services-img {
     img {
          width: 30vw;
     }
}

#services-wave {
     margin-top: -300px;
}

.project-timeline {
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
     align-items: center;
     padding: 0;
     background-color: $third;

     .dev-worker {
          max-width: 500px;
          width: 35vw;
          height: auto;
     }

     .project-container {
          display: flex;
          flex-direction: row;

          .number {
               display: flex;
               flex-direction: column;
               align-items: center;
               margin-right: 3vw;

             .digits {
               height: 45px;
               width: auto;
             } 
             .points {
               width: 5px;
               height: auto;
               margin: 25px 0 35px;
             }
          }

          .texts {
               display: flex;
               flex-direction: column;
               align-items: flex-start;

               h3 {
                    line-height: 45px;
                    font-weight: 500;
                    font-size: 20px;
                    color: #505153;
               }
               p {
                    color: #515253;
                    font-size: 15px;
                    margin: 16px 0 35px;
                    line-height: 170%;
                    width: 30vw;
                    height: 110px;
               }    
          }
     }
}

.services-infos {
     margin-top: -15vh;

     span {
          line-height: 190%;
     }
     .second-services-infos {
          margin-top: 10vh;
     }
}

@media  screen and (max-width: 1000px) {
     .project-timeline {

          .dev-worker {
               display: none;
          }
          .project-container {
               justify-content: center;
               .texts {
                    width: 70%;

                    p {
                         width: 100%;
                    }
               }
          }
     }
}
@media  screen and (max-width: 550px) {
     .project-timeline .project-container {
          .number {
               display: none;
          }
          .texts {
               width: 80%;
               p {
                    height: fit-content;
                    margin: 0 0 3vh;
               }
          }
     }
}
@media  screen and (max-width: 470px) {
     .project-timeline .project-container .texts {
          h3 {
               font-size: 17px;
               line-height: 22px;
          }
          p {
               font-size: 14px;
               margin: 2vh 0 4vh;
          }
     }
}